.song-table-container {
  width: 100%;
  overflow-x: auto;
}

.song-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.song-table thead {
  border-bottom: 2px solid #000;
  text-align: left;
}

.song-table th,
.song-table td {
  padding: 0.5rem 0.8rem;
}

.song-table tr {
  border-bottom: 1px solid #ddd;
}
